.btn-outline-primary a {
    text-decoration: none;
}
.btn-outline-primary {
    text-decoration: none;
    border-color:#ff92c5;
}
.btn-outline-primary:hover {
    color: rgb(0, 0, 0);
    background: #ff92c5;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    border-color:#ff92c5;
}
.btn-outline-primary a {
    color:black;
}
.btn-primary a {
    text-decoration: none;
    color:black;
}
.btn-primary:hover {
    color: rgb(0, 0, 0);
    background: #ff92c5;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    border-color:#ff92c5;
}
.btn-primary {
    background-color: rgb(185, 209, 255);
    border-color: #ff92c5;
    color:black;
}
body {
    background: rgb(185, 209, 255);
}
.container {
    background: rgb(185, 209, 255);
}
.border-bottom {
    border-bottom: 1px solid #ff92c5!important;
}
.border-top {
    border-top: 1px solid #ff92c5!important;
}
.hexagon {
	width: 100px;
	height: 20px;
	background: linear-gradient(45deg, #eb79ff, #ff64b7);
	position: relative;
    margin-right: 20px;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: linear-gradient(45deg, #eb79ff, #ff64b7);
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: linear-gradient(45deg, #eb79ff, #ff64b7);
}